<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>959927075046-intmnmjrp3diun2gvtkpqaiask8ohi0h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.959927075046-intmnmjrp3diun2gvtkpqaiask8ohi0h</string>
	<key>API_KEY</key>
	<string>AIzaSyAGSnsNMXKiJGH8OHwIktFBzWSig127Yfw</string>
	<key>GCM_SENDER_ID</key>
	<string>959927075046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rootsys.voyage.pushNotificationFcm</string>
	<key>PROJECT_ID</key>
	<string>voyage-e71ac</string>
	<key>STORAGE_BUCKET</key>
	<string>voyage-e71ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959927075046:ios:d459d8bfce5cc99129bb27</string>
</dict>
</plist>